<div class="container">
    <div class="row">

    <div class="col"></div>

    <div class="col">
        <h3>Thank you for your donation!</h3>
        <br>
        <%= image_tag("teddy1.jpg", :class => "teddy") %>
        <p>Teddy - Co-founder and Senior Snack Analyst of Pet Rents™</p>
    </div>

   <div class="col"></div>
        
</div>