<div class="container">
    <div class="row">
        <div>
        <h2>Enjoy the company of a pet without the commitment of full time care</h2>
        <h2>Browse pet listings to find your perfect pet match</h2>
        <h2 id="last-comment">Pet owners find someone trustworthy to pet sit in your area</h2>
        </div>
    </div>
</div>

<div>
    <div class="row align-items-center" id="box1">
        <div class="col align-self-center">
            <h4>Become a cool pet aunt or uncle</h4>
            <h4>Browse pet listings in your area to find your pet match</h4>
            <h4></h4>
        </div>
        <div class="col-sm">
        <%= image_tag("woman-dog.jpg", :class => "body-img") %>
        </div>
       
</div>

<div class="container">
    <div class="row align-items-center">
        <h3 id="donate-text">All donations forwarded to</h3>
    </div>
    <div class="row">
        <a href="https://sydneydogsandcatshome.org/" target="_blank">
            <%= image_tag("sydney-dogs-cats.gif", :id => "gif")%>
        </a>
    </div>
</div>